<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="ge.biletebi.tickets" version="1.3.0" versionCode="8">
    <name>Biletebi.Ge</name>
    <description>
        Biletebi.Ge - Mobile App
    </description>
    <author email="support@biletebi.ge" href="http://biletebi.ge">
        Biletebi.Ge Team
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="phonegap-version" value="3.5.0"/>  
    <icon src="icon.png"/>
</widget>
