<form id="place-finder">
    <div class="table-div">
        <div class="row">
            <div class="col align-left">{@standard_place}</div>
            <div class="col align-right" style="width: 100px">
                <select name="adultsqty" style="width: 70px !important;">
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col align-left">{@child_place}</div>
            <div class="col align-right" style="width: 100px">
                <select name="childrenqty" style="width: 70px !important;">
                    <option value="0" selected="selected">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    initSelectbox();
</script>