<div class="page-title-icon">
    <div class="menu-news-icon page-title">{@geo_raylway}</div>
</div>
<div class="load-container">
    <div id="start-order">
        <div class="padding7 align-center">
            <img style="width: 50%" alt="" src="./img/icons/raylway-logo.jpg">
        </div>
        <form id="find-trains">
            <input name="name" value="railgettimes" type="hidden">
            <input name="fromstationname" value="" type="hidden" id="station-name">
            <div class="padding7">
                <div>{@departure}</div>
                <div>
                    <select name="fromstationid" id="station-from" class="select-default"></select>
                </div>
            </div>
            <div class="padding7">
                <div>{@arrival}</div>
                <div>
                    <select name="tostationid" id="station-to" class="select-default"></select>
                </div>
            </div>
            <div class="padding7">
                <div>{@date}</div>
                <div>
                    <input readonly type="text" id="startDate" class="datepicker align-left">
                    <input name="startdate" type="hidden" id="actualDate">
                </div>
            </div>
            <div class="padding7">
                <input type="submit" value="{@find}">
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="./js/modules/start_order.js"></script>
