<div id="login" class="table-div">
    <div class="row">
        <div class="col padding7">
            <form id="authentify" autocomplete="off">
                <input type="hidden" name="name" value="login">
                <input type="text" name="loginname" placeholder="{@login}">
                <input type="password" name="password" placeholder="{@password}">
                <input class="input-type-submit" type="submit" value="{@enter}">
            </form>
            <a href="/register" data-target="body" data-domain="local" class="gray-button-link">{@registration}</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="./js/modules/login.js"></script>