<div id="container">
    <div class="pane ui-layout-center">
        <div class="top-alret-box"><div></div></div>
        <div class="header">
            <a href="back" class="block-link-normal">Back</a>
            <!--div id="openWestPane" class="float-left right-arrow-icon"></div-->
            <!--<div id="openEastPane" class="float-right left-arrow-icon"></div>-->
            <div id="topPaneCenter"></div>
            <div class="clearer"></div>
        </div>
        <div class="scrollable-div middle-content"></div>
    </div>
    <div class="panes-bg pane ui-layout-east">
        <div class="pane-header">
            <div id="closeEastPane" class="float-left right-arrow-icon"></div>
            <div class="float-right">bla</div>
            <div class="clearer"></div>
        </div>
    </div>
    <div class="panes-bg pane ui-layout-west">
        <div class="pane-header">
            <div id="closeWestPane" class="float-right left-arrow-icon"></div>
            <div class="float-left">bla</div>
            <div class="clearer"></div>
        </div>
    </div>
    <div class="panes-bg pane ui-layout-south"></div>
</div>
<script type="text/javascript" src="./js/modules/main.js"></script>
