<form id="passenger-info-form">
    <div class="table-div">
        <div class="row">
            <div class="col align-left">{@firstname}</div>
            <div class="col align-right"><input name="firstname" type="text"></div>
        </div>
        <div class="row">
            <div class="col align-left">{@lastname}</div>
            <div class="col align-right"><input name="lastname" type="text"></div>
        </div>
        <div class="row">
            <div class="col align-left">{@pin}</div>
            <div class="col align-right"><input name="pin" type="text"></div>
        </div>
    </div>
</form>
