<div class="header">
    <div class="add-profile"><b>{@registration}</b></div>
</div>
<div class="default-container">
    <form id="register" autocomplete="off">
        <input type="hidden" name="name" value="registration">
        <input type="text" name="email" placeholder="{@email}" maxlength="100">
        <input type="text" name="loginname" placeholder="{@confirm_email}" maxlength="100">
        <input type="password" name="password" placeholder="{@register_password}" maxlength="15">
        <input type="text" name="firstname" placeholder="{@firstname}" maxlength="100">
        <input type="text" name="lastname" placeholder="{@lastname}" maxlength="100">
        <input type="text" name="location" placeholder="{@location}" maxlength="100">
        <input type="text" name="phone" placeholder="{@phone}" maxlength="20">
        <div>
            <select name="gender" class="select-default">
                <option value="0">{@select} {@sex}</option>
                <option value="1">{@women}</option>
                <option value="2">{@men}</option>
            </select>
        </div>
        <div class="table-div">
            <div class="row">
                <div class="col align-left"  style="width: 100px">{@birthdate}</div>
                <div class="col align-right">
                    <select name="day" class="select-day"></select>
                    <select name="month" class="select-month"></select>
                    <select name="year" class="select-year"></select>
                </div>
            </div>
        </div>
        <div class="table-div">
            <div class="row">
                <div class="col align-left">{@agreeadvbyphone}</div>
                <div class="col align-right width32">
                    <label class="custom-checkbox">
                        <input type="checkbox" name="agreeadvbyphone" value="1">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col align-left">{@agreeadvbyemail}</div>
                <div class="col align-right width32">
                    <label class="custom-checkbox">
                        <input type="checkbox" name="agreeadvbyemail" value="1">
                    </label>
                </div>
            </div>
        </div>
        <br>
        <div class="border-top table-div">
            <div class="row">
                <div class="col align-left">
                    <a href="/login" data-skip="true" data-target="body" data-domain="local" class="gray-button-link width-auto">{@back}</a>
                </div>
                <div class="col">&nbsp;</div>
                <div class="col align-right">
                    <input class="width-auto" type="submit" value="{@register}">
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="./js/modules/register.js"></script>