<div class="page-title-icon">
    <div class="menu-news-icon page-title">{@raylway}</div>
</div>
<br>
<div class="load-container">
    <div id="train-descr" class="train-row-item train-icon align-right"></div>
    <br>
    <div id="wagon-descr" class="train-row-title padding7"></div>
    <div id="seat-list" class="seat-list gray-border-bottom padding7"></div>
    <div class="padding7">
        <input type="submit" class="checkout-seats" value="{@checkout}">
    </div>
</div>
<script type="text/javascript" src="./js/modules/seat_list.js"></script>
